{% extends 'core/base.html' %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block css%}   
{% endblock %}

{% block headers %}
{% endblock %}


{% block menu %}
    
{% endblock %}

{% block content%}


    <div class="contenido">
    
        <h3 class="texto-contenedor">Descripción del producto</h3>


        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="{{ producto.get_imagen_url  }}" class="img-fluis" alt="">
            </div>
        
            <div class="tarjeta-contenido">
                <h2 class="nombre"> {{ producto.nombre }}</h2>
        
                <div class="campo-subtitulo">
                    <p>{{ producto.descripcion }}</p>
                </div>

                <div class="campo">
                    <p>Precio: <span>${{ producto.precio }}</span></n></p>
                </div>
        
                <div class="campo">
                    <p>Cantidad: <span>{{ producto.cantidad }}</span></p> 
                </div>

                <div class="campo">
                    <p>Categoria: <span>{{ producto.categoria }}</span></p> 
                </div>

                <div class="usuario">
                    <p>Usuario: <span>{{ producto.usuario }}</span></p> 
                    
                </div>

            </div>
            
        </div> <!--tarjeta-->
            





    </div>


{% endblock %}

