{% extends 'core/base.html' %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block css%}   
{% endblock %}

{% block headers %}
{% endblock %}


{% block menu %}
    
{% endblock %}

{% block content%}


    <div class="contenido">
    
        <h3 class="texto-contenedor">Lista de productos</h3>

        {% for producto in  producto_list|dictsort:"id" reversed %}

        <div class="tarjeta">
                <div class="tarjeta-imagen">
                    <img src="{{ producto.get_imagen_url  }}" class="" alt="">
                </div>
            
                <div class="tarjeta-contenido">
                    <h3 class="nombre"> {{ producto.nombre }}</h3>
            

                    <div class="campo">
                        <p>Descripcion</p>
                        
                        {{ producto.descripcion }}
                    </div>

                    <div class="precio">
                        ${{ producto.precio }}
                    </div>
            
             
                    <h2>Cantidad</h2>
                    <div class="cantidad">
                        {{ producto.cantidad }}
                    </div>

                    <h2>Categoria</h2>
                    <div class="categoria">
                        {{ producto.categoria }}
                    </div>


                    <h2>Usuario</h2>
                    <div class="usuario">
                        {{ producto.usuario }}
                    </div>






                    <div class="controles">
                        <p><a href="{% url 'productos:detail' producto.id producto.nombre|slugify %}"><i><i class="fas fa-eye"></i></i></a></p>

                    
                    

                        {%if request.user.is_staff %}
                        <p><a href="{% url 'productos:update' producto.id %}"><i><i class="fas fa-edit"></i></i></a></p>
                        
                        {%comment%}
                        <p><a href="#" onclick="eliminarProducto({{ producto.id }})"><i><i class="fas fa-trash-alt"></i></i></a></p>
                        {%endcomment%}
                        
                        <p><a href="{% url 'productos:delete' producto.id %}"><i><i class="fas fa-trash-alt"></i></i></a></p>
                        
                        {% endif %}



                    </div>
                    




                </div>
            
            </div> <!--tarjeta-->
            
        {% endfor %}        



        <!-- Menú de paginación -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
                {% endif %}
                {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>


{% endblock %}

